<!-- Bootstap CSS -->
<link rel="stylesheet" href="../../static/css/portfolio/bootstrap.min.css">
<!-- icons -->
<link rel="stylesheet" href="../../static/css/portfolio/all.min.css">
<!-- Magnific PopUp -->
<link rel="stylesheet" href="../../static/vendor/Magnific-Popup-master/dist/magnific-popup.css">
<!-- Owl Carousel -->
<link rel="stylesheet" href="../../static/vendor/owl-carousel/css/owl.carousel.min.css">
<link rel="stylesheet" href="../../static/vendor/owl-carousel/css/owl.theme.default.min.css">
<!-- CSS -->
<link rel="stylesheet" href="../../static/css/cloud/style.css">
<!-- <link rel="stylesheet" href="../../static/css/cloud/"> -->