<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
    <div class="container">
        <a href="/cloud" class="navbar-brand navbar-tilte"><strong>My Cloud</strong><i class="fas fa-cloud"></i></a>
        <!-- <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false" aria-controls="menu-principal" aria-label="Desplegar menu principal">
            <span class="navbar-toggler-icon"></span>
        </button> -->
    </div>
</nav>