{% extends 'baseProducts.html' %}

{% block container %}
    <!-- -------------------------------- Start Content ----------------------------------------- -->
    <main class="dash-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card spur-card">
                        <div class="card-header">
                            <div class="spur-card-icon">
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                            <h3 class="spur-card-title"> Lista de usuarios </h3>
                            <div class="spur-card-menu">
                                <div class="dropdown show">
                                    <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{{ url_for('users.create') }}">Agregar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% from 'macro/_pagination.html' import m_pagination %}
                            <div class="row">
                                <div class="col-6">
                                    {% for user in users.items %}
                                        {% if user['rol']|string == "admin" %}
                                            <section class="jumbotron pb-2 pt-2 bg-secondary }}">
                                                <div class="row flex">
                                                    <div class="col-9">
                                                    <h3 class="text-left">
                                                        <a class="text-light" href="#">{{ user['username'] }}</a>
                                                    </h3>
                                                    <h6 class="text-light" style="font-style: italic;">{{ user['rol'] }}</h6>
                                                    <h6 class="text-light" style="font-style: italic;">{{ user['email'] }}</h6>
                                                    </div>
                                                    <div class="col-3 my-auto">
                                                    <a class="btn btn-primary rounded-lg mr-2" href="{{ url_for('users.update',id=user['id']) }}">
                                                        <i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Editar {{ user['username'] }}"></i>
                                                    </a>
                                                    <button class="btn btn-danger rounded-lg mr-2" data-toggle="modal" data-target="#deleteUserModal" data-username="{{ user['username'] }}" data-id="{{ user['id'] }}">
                                                        <i class="fa fa-trash-alt" data-toggle="tooltip" data-placement="bottom" title="Eliminar {{ user['username'] }}"></i>
                                                    </button>
                                                    </div>
                                                </div>
                                            </section>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-6">
                                    {% for user in users.items %}
                                        {% if user['rol']|string != "admin" %}
                                            <section class="jumbotron pb-2 pt-2 bg-light">
                                                <div class="row flex">
                                                    <div class="col-9">
                                                    <h3 class="text-left">
                                                        <a class="text-dark" href="#">{{ user['username'] }}</a>
                                                    </h3>
                                                    <h6 class="text-dark" style="font-style: italic;">{{ user['rol'] }}</h6>
                                                    <h6 class="text-dark" style="font-style: italic;">{{ user['email'] }}</h6>
                                                    </div>
                                                    <div class="col-3 my-auto">
                                                    <a class="btn btn-primary rounded-lg mr-2" href="{{ url_for('users.update',id=user['id']) }}">
                                                        <i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Editar {{ user['username'] }}"></i>
                                                    </a>
                                                    <button class="btn btn-danger rounded-lg mr-2" data-toggle="modal" data-target="#deleteUserModal" data-username="{{ user['username'] }}" data-id="{{ user['id'] }}">
                                                        <i class="fa fa-trash-alt" data-toggle="tooltip" data-placement="bottom" title="Eliminar {{ user['username'] }}"></i>
                                                    </button>
                                                    </div>
                                                </div>
                                            </section>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- -------------------------------- End  Content----------------------------------------- -->

{% endblock %}