{% extends 'baseProducts.html' %}

{% block container %}

        <section class="error">
            <div class="container d-flex">
                <div class="row justify-content-center mt-5">
                    <h1 class="display-3 my-5 pt-5 text-primary">413 <small>File to large</small></h1>
                    <h1 class="display-5 my-2 pt-5 font-italic text-muted">Estamos trabajando en recibir archivos cada ves mas grandes</h1>
                    <div class="col-12 offset-lg-4 mb-5">
                        <img src="../../static/img/problems.gif" alt="Problems" class="img-fluid m-auto img-thumbnail shadow-lg border-dark rounded" width="700">
                    </div>
                    <!-- <a href="{{url_for('cld.index')}}" class="btn btn-dark m-2 m-md-5">Volver al inicio</a> -->
                </div>
            </div>
        </section>

{% endblock %}