{% extends 'baseProducts.html' %}

{% block container %}
    <!-- -------------------------------- Start Content ----------------------------------------- -->
    <main class="dash-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card spur-card">
                        <div class="card-header">
                            <div class="spur-card-icon">
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                            <h3 class="spur-card-title"> Lista de categorías </h3>
                            <div class="spur-card-menu">
                                <div class="dropdown show">
                                    <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{{ url_for('categories.create') }}">Agregar categoría</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% from 'macro/_paginationCategory.html' import m_paginationCategory %}
                            {% for category in categories.items %}
                                <section class="jumbotron pb-2 pt-2 {{ loop.cycle('bg-secondary','bg-light') }}">
                                    <div class="row flex">
                                        <div class="col-10">
                                        <h3 class="text-left">
                                            <a class="{{ loop.cycle('text-light','text-dark') }}" href="#">{{ category['name'] }}</a>
                                        </h3>
                                        <h6 class="{{ loop.cycle('text-light','text-dark') }}" style="font-style: italic;">{{ category['description'] }}</h6>
                                        </div>
                                        <div class="col-2 my-auto">
                                        <a class="btn btn-primary rounded-lg mr-2" href="{{ url_for('categories.update', id=category['id']) }}">
                                            <i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Editar {{ category['name'] }}"></i>
                                        </a>
                                        <button class="btn btn-danger rounded-lg mr-2" data-toggle="modal" data-target="#deleteCategoryModal" data-name="{{ category['name'] }}" data-id="{{ category['id'] }}">
                                            <i class="fa fa-trash-alt" data-toggle="tooltip" data-placement="bottom" title="{{eliminar}} {{ category['name'] }}"></i>
                                        </button>
                                        </div>
                                    </div>
                                </section>
                            {% endfor %}
                            {{ m_paginationCategory(categories) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- -------------------------------- End  Content----------------------------------------- -->

{% endblock %}